<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<form [formGroup]="adminForm" novalidate>
			<div class="form-group">
				<input type="text" mat-input placeholder="loginId" formControlName="loginId" >
			</div><!--form-group --> 
			<div class="form-group">
				<input type="text" mat-input placeholder="password" formControlName="password" >
			</div><!--form-group --> 
			<div class="form-group">
				<mat-form-field>
					<mat-select placeholder="Users" formControlName="Users" multiple>
				    	<mat-option *ngFor="let user of users" [value]="user._id">
				      		{{user.firstName}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
			<div class="form-group">
				<mat-form-field>
					<mat-select placeholder="ReferenceEngines" formControlName="ReferenceEngines" multiple>
				    	<mat-option *ngFor="let referenceEngine of referenceEngines" [value]="referenceEngine._id">
				      		{{referenceEngine.name}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
        	<div class="form-group">
    				<button (click)="addAdmin(adminForm.controls['loginId'].value, adminForm.controls['password'].value, adminForm.controls['Users'].value, adminForm.controls['ReferenceEngines'].value)" 
					class="btn btn-primary">add</button>
        	</div>
		</form> <!--adminForm -->
	</div> <!-- panel body -->
		
</div> <!-- panel panel-primary -->
