<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<form [formGroup]="referenceEngineForm" novalidate>
			<div class="form-group">
				<input type="text" mat-input placeholder="name" formControlName="name" >
			</div><!--form-group --> 
			<div class="form-group">
				<mat-checkbox formControlName="active" >active</mat-checkbox>
			</div><!--form-group --> 
			<div class="form-group">
				<mat-form-field>
					<mat-select placeholder="MainQuestionGroup" formControlName="MainQuestionGroup" >
				    	<mat-option *ngFor="let questionGroup of questionGroups" [value]="questionGroup._id">
				      		{{questionGroup.name}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
			<div class="form-group">
				<mat-form-field>
					<mat-select placeholder="Purpose" formControlName="Purpose" >
				    	<mat-option *ngFor="let Purpose of Purposes" [value]="Purpose">
				      		{{Purpose}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
        	<div class="form-group">
   				<button (click)="addReferenceEngine(referenceEngineForm.controls['name'].value, referenceEngineForm.controls['active'].value == true ? true : false, referenceEngineForm.controls['MainQuestionGroup'].value, referenceEngineForm.controls['Purpose'].value)" 
					class="btn btn-primary">add</button>
        	</div>
		</form> <!--referenceEngineForm -->
	</div> <!-- panel body -->
		
</div> <!-- panel panel-primary -->
