<h5>ReferenceEngine List</h5>
<table class="table table-hover table-striped table-bordered table-sm">
	<thead>
		<tr style="color:white;background:black;text-align:center">
			<td style="text-align:center">name</td>
			<td style="text-align:center">active</td>
			<td style="text-align:center">Purpose</td>
			<td colspan="2">Actions</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let referenceEngine of referenceEngines" style="text-align:center">
			<td style="vertical-align:middle">{{ referenceEngine.name }}</td>
			<td style="vertical-align:middle">{{ referenceEngine.active }}</td>
			<td style="vertical-align:middle">{{ referenceEngine.Purpose }}</td>
			<td style="vertical-align:middle"><a [routerLink]="['/editReferenceEngine', referenceEngine._id]" class="btn btn-primary btn-sm">Edit</a></td>
			<td style="vertical-align:middle"><button (click)="deleteReferenceEngine(referenceEngine._id)"  class="btn btn-danger btn-sm">Delete</button></td>
		</tr>
	</tbody>
</table>
