<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<form [formGroup]="activityForm" novalidate>
			<div class="form-group">
				<input type="text" mat-input placeholder="refObjId" formControlName="refObjId" [(ngModel)] = "activity.refObjId">
			</div><!--form-group --> 
			<div class="form-group">
				<mat-form-field>
				  	<input matInput [matDatepicker]="picker" placeholder="createDateTime" formControlName="createDateTime" [(ngModel)] = "activity.createDateTime">
	  				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
	  				<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			</div><!--form-group --> 
			<div class="form-group">
				<mat-form-field>
					<mat-select placeholder="Type" formControlName="Type" [(ngModel)] = "activity.Type">
				    	<mat-option *ngFor="let ActivityType of ActivityTypes" [value]="ActivityType">
				      		{{ActivityType}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
			<div class="form-group">
 				<mat-form-field>
					<mat-select placeholder="User" formControlName="User"   [compareWith]="compareFn" [(ngModel)]="activity.User">
				    	<mat-option *ngFor="let user of users" [value]="user._id">
				      		{{user.firstName}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
        	<div class="form-group">
    				<button (click)="updateActivity(activityForm.controls['refObjId'].value, activityForm.controls['createDateTime'].value, activityForm.controls['Type'].value, activityForm.controls['User'].value)" 
					class="btn btn-primary">update</button>
        	</div>
		</form> <!--activityForm -->
	</div> <!-- panel body -->
		
</div> <!-- panel panel-primary -->
