<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<form [formGroup]="theResponseForm" novalidate>
			<div class="form-group">
				<input type="text" mat-input placeholder="responseText" formControlName="responseText" >
			</div><!--form-group --> 
			<div class="form-group">
				<input type="text" mat-input placeholder="gotoQuestionId" formControlName="gotoQuestionId" >
			</div><!--form-group --> 
        	<div class="form-group">
  				<button (click)="addTheResponse(theResponseForm.controls['responseText'].value, theResponseForm.controls['gotoQuestionId'].value)" 
					class="btn btn-primary">add</button>
        	</div>
		</form> <!--theResponseForm -->
	</div> <!-- panel body -->
		
</div> <!-- panel panel-primary -->
