<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<form [formGroup]="theReferenceForm" novalidate>
			<div class="form-group">
				<mat-form-field>
				  	<input matInput [matDatepicker]="picker" placeholder="dateLastUpdated" formControlName="dateLastUpdated" [(ngModel)] = "theReference.dateLastUpdated">
	  				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
	  				<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			</div><!--form-group --> 
			<div class="form-group">
				<mat-checkbox formControlName="active" [(ngModel)] = "theReference.active">active</mat-checkbox>
			</div><!--form-group --> 
			<div class="form-group">
				<mat-form-field>
				  	<input matInput [matDatepicker]="picker" placeholder="dateTimeLastViewedExternally" formControlName="dateTimeLastViewedExternally" [(ngModel)] = "theReference.dateTimeLastViewedExternally">
	  				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
	  				<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			</div><!--form-group --> 
			<div class="form-group">
				<mat-checkbox formControlName="makeViewableToUser" [(ngModel)] = "theReference.makeViewableToUser">makeViewableToUser</mat-checkbox>
			</div><!--form-group --> 
			<div class="form-group">
				<mat-form-field>
				  	<input matInput [matDatepicker]="picker" placeholder="dateLastSent" formControlName="dateLastSent" [(ngModel)] = "theReference.dateLastSent">
	  				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
	  				<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			</div><!--form-group --> 
			<div class="form-group">
				<input type="text" mat-input placeholder="numDaysToExpire" formControlName="numDaysToExpire" [(ngModel)] = "theReference.numDaysToExpire">
			</div><!--form-group --> 
			<div class="form-group">
 				<mat-form-field>
					<mat-select placeholder="QuestionGroup" formControlName="QuestionGroup"   [compareWith]="compareFn" [(ngModel)]="theReference.QuestionGroup">
				    	<mat-option *ngFor="let questionGroup of questionGroups" [value]="questionGroup._id">
				      		{{questionGroup.name}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
			<div class="form-group">
				<mat-form-field>
					<mat-select placeholder="Status" formControlName="Status" [(ngModel)] = "theReference.Status">
				    	<mat-option *ngFor="let ReferenceStatus of ReferenceStatuss" [value]="ReferenceStatus">
				      		{{ReferenceStatus}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
			<div class="form-group">
				<mat-form-field>
					<mat-select placeholder="Type" formControlName="Type" [(ngModel)] = "theReference.Type">
				    	<mat-option *ngFor="let Purpose of Purposes" [value]="Purpose">
				      		{{Purpose}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
			<div class="form-group">
 				<mat-form-field>
					<mat-select placeholder="User" formControlName="User"   [compareWith]="compareFn" [(ngModel)]="theReference.User">
				    	<mat-option *ngFor="let user of users" [value]="user._id">
				      		{{user.firstName}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
			<div class="form-group">
 				<mat-form-field>
					<mat-select placeholder="Referrer" formControlName="Referrer"   [compareWith]="compareFn" [(ngModel)]="theReference.Referrer">
				    	<mat-option *ngFor="let referrer of referrers" [value]="referrer._id">
				      		{{referrer.firstName}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
			<div class="form-group">
 				<mat-form-field>
					<mat-select placeholder="Answers" formControlName="Answers" multiple  [compareWith]="compareFn" [(ngModel)]="theReference.Answers">
				    	<mat-option *ngFor="let answer of answers" [value]="answer._id">
				      		{{answer.Question}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
			<div class="form-group">
 				<mat-form-field>
					<mat-select placeholder="LastQuestionAnswered" formControlName="LastQuestionAnswered"   [compareWith]="compareFn" [(ngModel)]="theReference.LastQuestionAnswered">
				    	<mat-option *ngFor="let question of questions" [value]="question._id">
				      		{{question.weight}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
        	<div class="form-group">
           				<button (click)="updateTheReference(theReferenceForm.controls['dateLastUpdated'].value, theReferenceForm.controls['active'].value == true ? true : false, theReferenceForm.controls['dateTimeLastViewedExternally'].value, theReferenceForm.controls['makeViewableToUser'].value == true ? true : false, theReferenceForm.controls['dateLastSent'].value, theReferenceForm.controls['numDaysToExpire'].value, theReferenceForm.controls['QuestionGroup'].value, theReferenceForm.controls['Status'].value, theReferenceForm.controls['Type'].value, theReferenceForm.controls['User'].value, theReferenceForm.controls['Referrer'].value, theReferenceForm.controls['Answers'].value, theReferenceForm.controls['LastQuestionAnswered'].value)" 
					class="btn btn-primary">update</button>
        	</div>
		</form> <!--theReferenceForm -->
	</div> <!-- panel body -->
		
</div> <!-- panel panel-primary -->
