<h5>TheResponse List</h5>
<table class="table table-hover table-striped table-bordered table-sm">
	<thead>
		<tr style="color:white;background:black;text-align:center">
			<td style="text-align:center">responseText</td>
			<td style="text-align:center">gotoQuestionId</td>
			<td colspan="2">Actions</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let theResponse of theResponses" style="text-align:center">
			<td style="vertical-align:middle">{{ theResponse.responseText }}</td>
			<td style="vertical-align:middle">{{ theResponse.gotoQuestionId }}</td>
			<td style="vertical-align:middle"><a [routerLink]="['/editTheResponse', theResponse._id]" class="btn btn-primary btn-sm">Edit</a></td>
			<td style="vertical-align:middle"><button (click)="deleteTheResponse(theResponse._id)"  class="btn btn-danger btn-sm">Delete</button></td>
		</tr>
	</tbody>
</table>
