<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<form [formGroup]="referrerGroupForm" novalidate>
			<div class="form-group">
				<input type="text" mat-input placeholder="name" formControlName="name" >
			</div><!--form-group --> 
			<div class="form-group">
				<mat-form-field>
				  	<input matInput [matDatepicker]="picker" placeholder="dateTimeLastViewedExternally" formControlName="dateTimeLastViewedExternally" >
	  				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
	  				<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			</div><!--form-group --> 
			<div class="form-group">
				<mat-form-field>
					<mat-select placeholder="References" formControlName="References" multiple>
				    	<mat-option *ngFor="let theReference of theReferences" [value]="theReference._id">
				      		{{theReference.dateLastUpdated}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
        	<div class="form-group">
   				<button (click)="addReferrerGroup(referrerGroupForm.controls['name'].value, referrerGroupForm.controls['dateTimeLastViewedExternally'].value, referrerGroupForm.controls['References'].value)" 
					class="btn btn-primary">add</button>
        	</div>
		</form> <!--referrerGroupForm -->
	</div> <!-- panel body -->
		
</div> <!-- panel panel-primary -->
