<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<form [formGroup]="questionGroupForm" novalidate>
			<div class="form-group">
				<input type="text" mat-input placeholder="aggregateScore" formControlName="aggregateScore" [(ngModel)] = "questionGroup.aggregateScore">
			</div><!--form-group --> 
			<div class="form-group">
				<input type="text" mat-input placeholder="weight" formControlName="weight" [(ngModel)] = "questionGroup.weight">
			</div><!--form-group --> 
			<div class="form-group">
				<input type="text" mat-input placeholder="name" formControlName="name" [(ngModel)] = "questionGroup.name">
			</div><!--form-group --> 
			<div class="form-group">
 				<mat-form-field>
					<mat-select placeholder="Questions" formControlName="Questions" multiple  [compareWith]="compareFn" [(ngModel)]="questionGroup.Questions">
				    	<mat-option *ngFor="let question of questions" [value]="question._id">
				      		{{question.weight}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
			<div class="form-group">
 				<mat-form-field>
					<mat-select placeholder="QuestionGroups" formControlName="QuestionGroups" multiple  [compareWith]="compareFn" [(ngModel)]="questionGroup.QuestionGroups">
				    	<mat-option *ngFor="let questionGroup of questionGroups" [value]="questionGroup._id">
				      		{{questionGroup.name}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
        	<div class="form-group">
     				<button (click)="updateQuestionGroup(questionGroupForm.controls['aggregateScore'].value, questionGroupForm.controls['weight'].value, questionGroupForm.controls['name'].value, questionGroupForm.controls['Questions'].value, questionGroupForm.controls['QuestionGroups'].value)" 
					class="btn btn-primary">update</button>
        	</div>
		</form> <!--questionGroupForm -->
	</div> <!-- panel body -->
		
</div> <!-- panel panel-primary -->
