<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<form [formGroup]="referrerForm" novalidate>
			<div class="form-group">
				<input type="text" mat-input placeholder="firstName" formControlName="firstName" >
			</div><!--form-group --> 
			<div class="form-group">
				<input type="text" mat-input placeholder="lastName" formControlName="lastName" >
			</div><!--form-group --> 
			<div class="form-group">
				<input type="text" mat-input placeholder="emailAddress" formControlName="emailAddress" >
			</div><!--form-group --> 
			<div class="form-group">
				<mat-checkbox formControlName="active" >active</mat-checkbox>
			</div><!--form-group --> 
			<div class="form-group">
				<mat-form-field>
					<mat-select placeholder="Comments" formControlName="Comments" multiple>
				    	<mat-option *ngFor="let comment of comments" [value]="comment._id">
				      		{{comment.commentText}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
        	<div class="form-group">
    				<button (click)="addReferrer(referrerForm.controls['firstName'].value, referrerForm.controls['lastName'].value, referrerForm.controls['emailAddress'].value, referrerForm.controls['active'].value == true ? true : false, referrerForm.controls['Comments'].value)" 
					class="btn btn-primary">add</button>
        	</div>
		</form> <!--referrerForm -->
	</div> <!-- panel body -->
		
</div> <!-- panel panel-primary -->
