<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<form [formGroup]="commentForm" novalidate>
			<div class="form-group">
				<input type="text" mat-input placeholder="commentText" formControlName="commentText" >
			</div><!--form-group --> 
			<div class="form-group">
				<mat-form-field>
					<mat-select placeholder="Source" formControlName="Source" >
				    	<mat-option *ngFor="let referrer of referrers" [value]="referrer._id">
				      		{{referrer.firstName}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
        	<div class="form-group">
  				<button (click)="addComment(commentForm.controls['commentText'].value, commentForm.controls['Source'].value)" 
					class="btn btn-primary">add</button>
        	</div>
		</form> <!--commentForm -->
	</div> <!-- panel body -->
		
</div> <!-- panel panel-primary -->
