<h5>Activity List</h5>
<table class="table table-hover table-striped table-bordered table-sm">
	<thead>
		<tr style="color:white;background:black;text-align:center">
			<td style="text-align:center">refObjId</td>
			<td style="text-align:center">createDateTime</td>
			<td style="text-align:center">Type</td>
			<td colspan="2">Actions</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let activity of activitys" style="text-align:center">
			<td style="vertical-align:middle">{{ activity.refObjId }}</td>
			<td style="vertical-align:middle">{{ activity.createDateTime }}</td>
			<td style="vertical-align:middle">{{ activity.Type }}</td>
			<td style="vertical-align:middle"><a [routerLink]="['/editActivity', activity._id]" class="btn btn-primary btn-sm">Edit</a></td>
			<td style="vertical-align:middle"><button (click)="deleteActivity(activity._id)"  class="btn btn-danger btn-sm">Delete</button></td>
		</tr>
	</tbody>
</table>
