<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<form [formGroup]="answerForm" novalidate>
			<div class="form-group">
 				<mat-form-field>
					<mat-select placeholder="Question" formControlName="Question"   [compareWith]="compareFn" [(ngModel)]="answer.Question">
				    	<mat-option *ngFor="let question of questions" [value]="question._id">
				      		{{question.weight}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
			<div class="form-group">
 				<mat-form-field>
					<mat-select placeholder="Response" formControlName="Response"   [compareWith]="compareFn" [(ngModel)]="answer.Response">
				    	<mat-option *ngFor="let theResponse of theResponses" [value]="theResponse._id">
				      		{{theResponse.responseText}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
        	<div class="form-group">
  				<button (click)="updateAnswer(answerForm.controls['Question'].value, answerForm.controls['Response'].value)" 
					class="btn btn-primary">update</button>
        	</div>
		</form> <!--answerForm -->
	</div> <!-- panel body -->
		
</div> <!-- panel panel-primary -->
