<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<form [formGroup]="userForm" novalidate>
			<div class="form-group">
				<input type="text" mat-input placeholder="firstName" formControlName="firstName" >
			</div><!--form-group --> 
			<div class="form-group">
				<input type="text" mat-input placeholder="lastName" formControlName="lastName" >
			</div><!--form-group --> 
			<div class="form-group">
				<input type="text" mat-input placeholder="emailAddress" formControlName="emailAddress" >
			</div><!--form-group --> 
			<div class="form-group">
				<mat-checkbox formControlName="active" >active</mat-checkbox>
			</div><!--form-group --> 
			<div class="form-group">
				<mat-form-field>
					<mat-select placeholder="Comments" formControlName="Comments" multiple>
				    	<mat-option *ngFor="let comment of comments" [value]="comment._id">
				      		{{comment.commentText}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
			<div class="form-group">
				<input type="text" mat-input placeholder="password" formControlName="password" >
			</div><!--form-group --> 
			<div class="form-group">
				<input type="text" mat-input placeholder="resumeLinkUrl" formControlName="resumeLinkUrl" >
			</div><!--form-group --> 
			<div class="form-group">
				<input type="text" mat-input placeholder="linkedInUrl" formControlName="linkedInUrl" >
			</div><!--form-group --> 
			<div class="form-group">
				<mat-form-field>
					<mat-select placeholder="ReferenceProviders" formControlName="ReferenceProviders" multiple>
				    	<mat-option *ngFor="let referrer of referrers" [value]="referrer._id">
				      		{{referrer.firstName}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
			<div class="form-group">
				<mat-form-field>
					<mat-select placeholder="RefererGroups" formControlName="RefererGroups" multiple>
				    	<mat-option *ngFor="let referrerGroup of referrerGroups" [value]="referrerGroup._id">
				      		{{referrerGroup.name}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
			<div class="form-group">
				<mat-form-field>
					<mat-select placeholder="ReferenceReceivers" formControlName="ReferenceReceivers" multiple>
				    	<mat-option *ngFor="let referrer of referrers" [value]="referrer._id">
				      		{{referrer.firstName}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
			<div class="form-group">
				<mat-form-field>
					<mat-select placeholder="ReferenceGroupLinks" formControlName="ReferenceGroupLinks" multiple>
				    	<mat-option *ngFor="let referenceGroupLink of referenceGroupLinks" [value]="referenceGroupLink._id">
				      		{{referenceGroupLink.name}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
        	<div class="form-group">
           				<button (click)="addUser(userForm.controls['firstName'].value, userForm.controls['lastName'].value, userForm.controls['emailAddress'].value, userForm.controls['active'].value == true ? true : false, userForm.controls['Comments'].value, userForm.controls['password'].value, userForm.controls['resumeLinkUrl'].value, userForm.controls['linkedInUrl'].value, userForm.controls['ReferenceProviders'].value, userForm.controls['RefererGroups'].value, userForm.controls['ReferenceReceivers'].value, userForm.controls['ReferenceGroupLinks'].value)" 
					class="btn btn-primary">add</button>
        	</div>
		</form> <!--userForm -->
	</div> <!-- panel body -->
		
</div> <!-- panel panel-primary -->
