<h5>Referrer List</h5>
<table class="table table-hover table-striped table-bordered table-sm">
	<thead>
		<tr style="color:white;background:black;text-align:center">
			<td style="text-align:center">firstName</td>
			<td style="text-align:center">lastName</td>
			<td style="text-align:center">emailAddress</td>
			<td style="text-align:center">active</td>
			<td colspan="2">Actions</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let referrer of referrers" style="text-align:center">
			<td style="vertical-align:middle">{{ referrer.firstName }}</td>
			<td style="vertical-align:middle">{{ referrer.lastName }}</td>
			<td style="vertical-align:middle">{{ referrer.emailAddress }}</td>
			<td style="vertical-align:middle">{{ referrer.active }}</td>
			<td style="vertical-align:middle"><a [routerLink]="['/editReferrer', referrer._id]" class="btn btn-primary btn-sm">Edit</a></td>
			<td style="vertical-align:middle"><button (click)="deleteReferrer(referrer._id)"  class="btn btn-danger btn-sm">Delete</button></td>
		</tr>
	</tbody>
</table>
