<h5>TheReference List</h5>
<table class="table table-hover table-striped table-bordered table-sm">
	<thead>
		<tr style="color:white;background:black;text-align:center">
			<td style="text-align:center">dateLastUpdated</td>
			<td style="text-align:center">active</td>
			<td style="text-align:center">dateTimeLastViewedExternally</td>
			<td style="text-align:center">makeViewableToUser</td>
			<td style="text-align:center">dateLastSent</td>
			<td style="text-align:center">numDaysToExpire</td>
			<td style="text-align:center">Status</td>
			<td style="text-align:center">Type</td>
			<td colspan="2">Actions</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let theReference of theReferences" style="text-align:center">
			<td style="vertical-align:middle">{{ theReference.dateLastUpdated }}</td>
			<td style="vertical-align:middle">{{ theReference.active }}</td>
			<td style="vertical-align:middle">{{ theReference.dateTimeLastViewedExternally }}</td>
			<td style="vertical-align:middle">{{ theReference.makeViewableToUser }}</td>
			<td style="vertical-align:middle">{{ theReference.dateLastSent }}</td>
			<td style="vertical-align:middle">{{ theReference.numDaysToExpire }}</td>
			<td style="vertical-align:middle">{{ theReference.Status }}</td>
			<td style="vertical-align:middle">{{ theReference.Type }}</td>
			<td style="vertical-align:middle"><a [routerLink]="['/editTheReference', theReference._id]" class="btn btn-primary btn-sm">Edit</a></td>
			<td style="vertical-align:middle"><button (click)="deleteTheReference(theReference._id)"  class="btn btn-danger btn-sm">Delete</button></td>
		</tr>
	</tbody>
</table>
