<h5>QuestionGroup List</h5>
<table class="table table-hover table-striped table-bordered table-sm">
	<thead>
		<tr style="color:white;background:black;text-align:center">
			<td style="text-align:center">aggregateScore</td>
			<td style="text-align:center">weight</td>
			<td style="text-align:center">name</td>
			<td colspan="2">Actions</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let questionGroup of questionGroups" style="text-align:center">
			<td style="vertical-align:middle">{{ questionGroup.aggregateScore }}</td>
			<td style="vertical-align:middle">{{ questionGroup.weight }}</td>
			<td style="vertical-align:middle">{{ questionGroup.name }}</td>
			<td style="vertical-align:middle"><a [routerLink]="['/editQuestionGroup', questionGroup._id]" class="btn btn-primary btn-sm">Edit</a></td>
			<td style="vertical-align:middle"><button (click)="deleteQuestionGroup(questionGroup._id)"  class="btn btn-danger btn-sm">Delete</button></td>
		</tr>
	</tbody>
</table>
