<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<form [formGroup]="questionForm" novalidate>
			<div class="form-group">
				<input type="text" mat-input placeholder="weight" formControlName="weight" [(ngModel)] = "question.weight">
			</div><!--form-group --> 
			<div class="form-group">
				<input type="text" mat-input placeholder="questionText" formControlName="questionText" [(ngModel)] = "question.questionText">
			</div><!--form-group --> 
			<div class="form-group">
				<input type="text" mat-input placeholder="identifier" formControlName="identifier" [(ngModel)] = "question.identifier">
			</div><!--form-group --> 
			<div class="form-group">
				<mat-checkbox formControlName="mustBeAnswered" [(ngModel)] = "question.mustBeAnswered">mustBeAnswered</mat-checkbox>
			</div><!--form-group --> 
			<div class="form-group">
				<mat-checkbox formControlName="responseExclusive" [(ngModel)] = "question.responseExclusive">responseExclusive</mat-checkbox>
			</div><!--form-group --> 
			<div class="form-group">
 				<mat-form-field>
					<mat-select placeholder="Responses" formControlName="Responses" multiple  [compareWith]="compareFn" [(ngModel)]="question.Responses">
				    	<mat-option *ngFor="let theResponse of theResponses" [value]="theResponse._id">
				      		{{theResponse.responseText}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
        	<div class="form-group">
    				<button (click)="updateQuestion(questionForm.controls['weight'].value, questionForm.controls['questionText'].value, questionForm.controls['identifier'].value, questionForm.controls['mustBeAnswered'].value == true ? true : false, questionForm.controls['responseExclusive'].value == true ? true : false, questionForm.controls['Responses'].value)" 
					class="btn btn-primary">update</button>
        	</div>
		</form> <!--questionForm -->
	</div> <!-- panel body -->
		
</div> <!-- panel panel-primary -->
