<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<form [formGroup]="referenceGroupLinkForm" novalidate>
			<div class="form-group">
				<mat-form-field>
				  	<input matInput [matDatepicker]="picker" placeholder="dateLinkCreated" formControlName="dateLinkCreated" [(ngModel)] = "referenceGroupLink.dateLinkCreated">
	  				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
	  				<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			</div><!--form-group --> 
			<div class="form-group">
				<input type="text" mat-input placeholder="name" formControlName="name" [(ngModel)] = "referenceGroupLink.name">
			</div><!--form-group --> 
			<div class="form-group">
 				<mat-form-field>
					<mat-select placeholder="ReferrerGroup" formControlName="ReferrerGroup"   [compareWith]="compareFn" [(ngModel)]="referenceGroupLink.ReferrerGroup">
				    	<mat-option *ngFor="let referrerGroup of referrerGroups" [value]="referrerGroup._id">
				      		{{referrerGroup.name}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
			<div class="form-group">
 				<mat-form-field>
					<mat-select placeholder="LinkProvider" formControlName="LinkProvider"   [compareWith]="compareFn" [(ngModel)]="referenceGroupLink.LinkProvider">
				    	<mat-option *ngFor="let user of users" [value]="user._id">
				      		{{user.firstName}}
				    	</mat-option>
				  	</mat-select>
				</mat-form-field>
			</div><!--form-group --> 
        	<div class="form-group">
    				<button (click)="updateReferenceGroupLink(referenceGroupLinkForm.controls['dateLinkCreated'].value, referenceGroupLinkForm.controls['name'].value, referenceGroupLinkForm.controls['ReferrerGroup'].value, referenceGroupLinkForm.controls['LinkProvider'].value)" 
					class="btn btn-primary">update</button>
        	</div>
		</form> <!--referenceGroupLinkForm -->
	</div> <!-- panel body -->
		
</div> <!-- panel panel-primary -->
